:root {
    --pakistan-green: #003314;
    --green: #104911;
    --bottle-green: #006a4e;
    --dark-green: #01200f;
    --sea-green: #5b8c5a;
    --nyanza: #daf7dc;
    --jasmine: #eecf6d;
    --mikado-yellow: #fdc500;
    --mustard: #ffd449;
    --white: #ffffff;
    --gray: #656565;
    --black: #000000;
}

body {
    font-family: "Indie Flower";
    background: var(--dark-green);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    display: flex;
    background: var(--jasmine);
}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none; 
    overflow: hidden;
    text-align: center;
    flex-grow: 2;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    text-decoration: none;
    color: var(--pakistan-green);
    display: block;
    font-size: 25px;
    text-align: center;
    padding: 0px 10px 0px 10px;
    border: 5px outset var(--mustard); 
}

.navbar a:hover {
    background: var(--mikado-yellow);
}

.navbar img {
    width: 200px;
    height: 50px;
    flex-grow: 1;
}

h1 {
    text-align: center;
    
}

ul {
    list-style-type: circle;
}

main {
    flex-grow: 1;
    margin: 10px;
    color: var(--sea-green);
}

.home-container {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0px 10px 0px;
    
}

.home-content {
    
    width: 70%;
    font-size: 31px;
    text-align: center;
    align-content: center;
}

.profile-pic {
    
    width: 30%;
    text-align: center;
}

.profile-pic img {
    width: 55%;
    border: 10px groove var(--jasmine);
}

.about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

h3 {
    text-align: center;
}

.extras {
    border: 10px groove var(--jasmine);
}

.snakes {
    border: 10px groove var(--jasmine);
}

.fruits {
    border: 10px groove var(--jasmine);
}

.drinks {
    border: 10px groove var(--jasmine);
}

.ice-cream {
    border: 10px groove var(--jasmine);
}

.media {
    border: 10px groove var(--jasmine);
}

.music {
    border: 10px groove var(--jasmine);
}

.hobbies {
    border: 10px groove var(--jasmine);
}

footer {
    background: var(--bottle-green);
    color: var(--dark-green);
    padding: 0px 50px 0px 50px;
    font-size: 18px;
}

footer h2 {
    text-align: center;
}

.contact ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none; 
    overflow: hidden;
    text-align: center;
}

.contact li {
    display: inline-block;
}

.contact a {
    text-decoration: none;
    color: var(--dark-green);
    display: block;
    text-align: center;
    padding: 0px 10px 0px 10px;
    border: 5px outset var(--sea-green);
}

.contact a:hover {
    background: var(--sea-green);
}