:root {
    --pakistan-green: #003314;
    --green: #104911;
    --bottle-green: #006a4e;
    --dark-green: #01200f;
    --sea-green: #5b8c5a;
    --nyanza: #daf7dc;
    --jasmine: #eecf6d;
    --mikado-yellow: #fdc500;
    --mustard: #ffd449;
    --white: #ffffff;
    --gray: #656565;
    --black: #000000;
}

body {
    font-family: "Indie Flower";
    color: var(--sea-green);
    background: var(--dark-green);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 50px;
}

.navbar {
    position: fixed; /* moving nav bar */
    top: 0;          /* moving nav bar */
    width: 100%;     /* moving nav bar */
    z-index: 1000;   /* moving nav bar */
    display: flex;
    background: var(--jasmine);
}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none; 
    overflow: hidden;
    text-align: center;
    flex-grow: 2;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    text-decoration: none;
    color: var(--bottle-green);
    display: block;
    font-size: 20px;
    text-align: center;
    padding: 0px 10px 0px 10px;
}

.navbar a:hover {
    background: var(--mikado-yellow);
}

.navbar img {
    width: 200px;
    height: 50px;
    flex-grow: 1;
}

h1 {
    text-align: center;
}

ul {
    list-style-type: circle;
}

main {
    flex-grow: 1;
}

h2 {
    text-align: center;
}

footer {
    background: var(--bottle-green);
    color: var(--dark-green);
    padding: 0px 10px 0px 10px;
    font-size: 20px;
}


.contact ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none; 
    overflow: hidden;
    text-align: center;
}

.contact li {
    display: inline-block;
}

.contact a {
    text-decoration: none;
    color: var(--dark-green);
    display: block;
    font-size: 20px;
    text-align: center;
    padding: 0px 10px 0px 10px;
}

.contact a:hover {
    background: var(--sea-green);
}