:root {
    --pakistan-green: #003314;
    --green: #104911;
    --bottle-green: #006a4e;
    --dark-green: #01200f;
    --sea-green: #5b8c5a;
    --nyanza: #daf7dc;
    --jasmine: #eecf6d;
    --mikado-yellow: #fdc500;
    --mustard: #ffd449;
    --white: #ffffff;
    --gray: #656565;
    --black: #000000;
}

body {
    background: var(--dark-green);
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header, footer {
    font-family: "Caveat";
}

/* Nav bar start */
.navbar {
    display: flex;
    background: var(--jasmine);
}

.navbar ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none; 
    overflow: hidden;
    text-align: center;
    flex-grow: 2;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    text-decoration: none;
    color: var(--pakistan-green);
    display: block;
    font-size: 25px;
    text-align: center;
    padding: 0px 10px 0px 10px;
    border: 5px outset var(--mustard); 
}

.navbar a:hover {
    background: var(--mikado-yellow);
}

.navbar img {
    width: 200px;
    height: 50px;
    flex-grow: 1;
}
/* Nav bar end */

/* Default bullet style start */
main ul { 
    list-style-type: none;
}

main ul li::before {
  content: "\f005"; /* Font Awesome star icon */
  font-family: "FontAwesome";
  color: var(--jasmine);
  font-size: 13px;
  padding-right: 5px;
}

main ol li::marker {
    color: var(--jasmine); 
}
/* Default bullet style end */

h1, h3 {
    text-align: center;
    color: var(--jasmine);
}

.about-me, .project-info{
    font-size: 27px;
    text-align: center;
}

main {
    flex-grow: 1;
    margin: 10px;
    color: var(--sea-green);
    font-family: "Indie Flower";
}

/* Home page start */
.home-container {
    display: flex;
    justify-content: space-evenly;
    padding: 10px 0px 10px 0px;
}

.home-content {
    width: 70%;
    font-size: 31px;
    text-align: center;
    align-content: center;
}

.profile-pic {
    width: 30%;
    text-align: center;
    align-content: center;
}

.profile-pic img {
    width: 60%;
    border: 10px groove var(--jasmine);
}
/* Home page end */

/* About me page start */
.about-container-top {
    display: flex;
    justify-content: space-evenly;
    font-size: 19px;
    margin-bottom: 3%;
}

.about-container-bottom {
    display: flex;
    flex-direction: column;
    font-size: 19px;
}

.about-container-bottom p {
    text-align: center;
}

.starters, .food, .media {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.other, .snakes, .hobbies, .fruits, .drinks, .ice-cream, .movies, .shows, .artists, .songs1, .songs2 {
    padding-right: 10px;
    margin: 10px;
    border: 5px solid var(--sea-green);
    border-radius: 50px;
}

.music {
    display: flex;
    justify-content: space-evenly;
}

.playlist {
    color: var(--jasmine);
}
/* About me page end */

/* Button and modal style start */
button {
    background-color: var(--jasmine);
    padding: 5px 13px;
    font: bolder 25px "Caveat";
    color: var(--dark-green);
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-content {
    background-color: var(--dark-green);
    margin: auto;
    padding: 20px;
    border: 3px solid var(--sea-green);
    border-radius: 50px;
    width: 80%;
    font-size: 20px;
}

.close {
    color: var(--jasmine);
    float: right;
    font-size: 31px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: var(--mikado-yellow);
    text-decoration: none;
    cursor: pointer;
}
/* Button and modal style end */

/* Projects page start */
.projects {
    display: flex;
    display: wrap;
    justify-content: space-evenly;
}

.pdm-container, .lights-container, .final-web-container {
    width: 50%;
    margin: 10px;
}

.pdm-img, .lights-out-img, .final-web-img{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
}

.modal-content a {
    text-decoration: underline;
    color: var(--sea-green);
    font-size: 20px;
}
/* Projects page end */

/* Footer start */
footer {
    background: var(--bottle-green);
    color: var(--dark-green);
    padding: 0px 50px 0px 50px;
    font-size: 20px;
}

footer h2 {
    text-align: center;
}

.contact ul {
    display: flex;
    justify-content: space-evenly;
    list-style: none; 
    overflow: hidden;
    text-align: center;
}

.contact li {
    display: inline-block;
}

.contact a {
    text-decoration: none;
    color: var(--dark-green);
    display: block;
    text-align: center;
    padding: 0px 10px 0px 10px;
    border: 5px outset var(--sea-green);
}

.contact a:hover {
    background: var(--sea-green);
}
/* Footer end*/